@font-face {
  font-family: 'Bold';
  src: url('/fonts/GoogleSans-Bold.woff'),
  url('/fonts/GoogleSans-Bold.woff2');
}

@font-face {
  font-family: 'Regular';
  src: url('/fonts/GoogleSans-Regular.woff'),
  url('/fonts/GoogleSans-Regular.woff2');
}

body {
  background-image: url('../img/bg2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #213140;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #000;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

#logo {
  position: relative;
  display: flex;
  width: 32.5%;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  filter: drop-shadow(0px 5px 10px #222);
}

@media screen and (max-width: 480px) {
  #logo {
    width: 70%;
  }

}

.margin {
  margin-top: 2em;
}

.container-fluid {
  margin-top: 12em;
}

@media screen and (max-width: 480px) {
.menu_box {
  width: 100%;
}
#phone {
  font-size: 5vw;
  font-family: 'Regular', sans-serif;
  color: #888;
  user-select: text;

}

#telegram {
  font-size: 5vw;
  font-family: 'Regular', sans-serif;
  color: #888;
  transition: color .5s;
  user-select: text;
}

#telegram:hover {
  color: #fff;
}

#email {
  font-size: 5vw;
  font-family: 'Regular', sans-serif;
  color: #888;
  transition: color .5s;
  user-select: text;
}

#email:hover {
  color: #fff;
}

#contact_type {
  font-size: 5vw;
  color: #fff;
  font-family: 'Bold', sans-serif;
  text-align: center;
}

footer {
  font-size: .5em;
}
}

@media screen and (min-width: 481px) {
.menu_box {
  width: 300px;
}
#phone {
  font-size: x-large;
  font-family: 'Regular', sans-serif;
  color: #888;
  user-select: text;

}

#telegram {
  font-size: x-large;
  font-family: 'Regular', sans-serif;
  color: #888;
  transition: color .5s;
  user-select: text;
}

#telegram:hover {
  color: #fff;
}

#email {
  font-size: x-large;
  font-family: 'Regular', sans-serif;
  color: #888;
  transition: color .5s;
  user-select: text;
}

#email:hover {
  color: #fff;
}

#contact_type {
  font-size: x-large;
  color: #fff;
  font-family: 'Bold', sans-serif;
  text-align: center;
}

footer {
  font-size: 1em;
}
}

#contact_type {
  filter: drop-shadow(0px 2px 5px #222);
}

#phone {
  filter: drop-shadow(0px 2px 5px #222);
}

#telegram {
  filter: drop-shadow(0px 2px 5px #222);
}

#email {
  filter: drop-shadow(0px 2px 5px #222);
}

footer {
  font-family: 'Regular', sans-serif;
  text-align: center;
  padding-bottom: 1.5%;
  color: #fff;
  opacity: .33;
  z-index: -1;
  filter: drop-shadow(0px 0px 2px #222);
}

#menu_toggle {
  opacity: 0;
}

#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
}

#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_box {
  visibility: visible;
  left: 0;
}

.menu_btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 9999;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: .25s;
}

.menu_btn > span::before {
  content: '';
  top: -8px;
}

.menu_btn > span::after {
  content: '';
  top: 8px;
}

.menu_box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #000;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 9998;
}

.menu_item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: 'Bold', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu_item:hover {
  background-color: #555;
  color: #fff;
}